{% extends 'tech/base.html' %}
{% load widget_tweaks %}
{% block main %}
<div class="w3-container">
  <h2>New Hire</h2>
  <p>Please fill in the following details to create a hire</h2>
  <form method="POST" class="post-form">
    <!-- Set Custom Date Widgets -->
    {% csrf_token %}
    <!-- Then Display Fields -->
    {% for hidden in form.hidden_fields %}

      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>

        {{ field |add_class:'w3-input'}}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}
    <br>
  <button class="w3-btn w3-green" type="submit">Save</button>
  </form>
</div>
{% endblock %}
