<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>St Aidan's JCR Tech Website</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div class="w3-container w3-red">
    <img width=100px class="w3-left w3-margin-right" src="https://st-aidans.com/static/images/badger.8205b2c84029.svg"></img>
    <h1>St Aidan's JCR</h1>
    <h2>Technology Committee Tech Hire</h2>
  </div>
  {% include 'tech/navbar.html' %}
  {% block main %}


  {% endblock %}


</body>
</html>
