{% extends 'tech/base.html' %}

{% block main %}
  <div class="w3-container">
    <h2>Your Basket</h2>
    <p>Here are the items that you want to hire for your event. </p>
  </div>
    <table class="w3-table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>
              Controls
            </th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total_price }}</td>
            <td>
              <a href="{% url 'remove_from_cart'%}?id={{item.id}}">DEL</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
